* {
  margin: 0;
}

body {
  background-color:#b7d3dd;
}

.oneTelInicio {
  display: flex;
  height: 100vh;
}

.twoTelInicio {
  width: 30rem;
  height: 100vh;
  overflow-y: auto;
}

.header {
  width: 28.8rem;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:  #009c8c;
}

.imgListContato {
  margin: 0 10% 0 10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.caixa {
  display: flex;
  flex-direction: column;
}

.bottonContato {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:  #ffffff;
  border-color: whitesmoke;
}

.bottonContato:hover {
  background-color: #b7d3dd;
}

.textContato {
  text-align: initial;
  font-size: large;
}

#nome {
  font-weight: 800;
}

.bottoniniciou {
  margin-left: 5%;
  border-color: white;
  background-color:  #ffffff;
  border-radius: 15%;
}

.espaco {
  display: flex;
}

.espaco div {
  margin-right: 20px;
}

.caixaDeConversa {
  height: 77vh;
  background-color: #e0eaeb;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.caixaDeTexto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  background-color:#b7d3dd;
}

.inputEscrita {
  padding: 10px;
  border-radius: 10%;
  font-size: large;
}

.buttonEnviar {
  margin-left: 10px;
  border-radius: 10%;
  background-color:  #009c8c;
  border-color: whitesmoke;
  font-size: large;
  color: white;
  font-weight: 800;
}

.buttonEnviar:hover {
  background-color: white;
  color: #009c8c
}

.imagemBranco {
  color: #ffffff;
}


.caixaTextoC {
  width: 55vh;
  display: flex;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.caixaTextoPE {
  width: 55vh;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.caixaDoTexo {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-radius: 15%;
  border-color: black;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 2px;
}

.textoPrinc {
  font-size: small;
  font-weight: 800;
}

.caixaApareceTrue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.caixaConversaHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 10px;
  width: 141vh;
  background-color:  #009c8c;
}

.caixaConversaHeader2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 10px;
  background-color:  #009c8c;
}

.caixaConversaHeader2 p {
  font-size: large;
  font-weight: 800;
  margin-left: 20%;
}

.caixaConversaHeader p {
  font-size: large;
  font-weight: 800;
  margin-left: 20%;
}

.textoDeConversaCaixa {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.inputCaixa {
  background-color:  #ffffff;
  border-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .twoTelInicio {
    width: 25.5rem;
    height: auto;
  }
  
  .header {
    width: 25.5rem;
    height: 5em;
  }
  
  .caixaApareceFalse {
    display: none;
  }

  .caixaConversaHeader {
    width: 22.3rem;
  }

  .caixaDeTexto {
    margin-top: 10%;
  }
}
